DirectoryIndex index.php
Options -Indexes 

AddDefaultCharset windows-1251
AddType text/csv csv
RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php

<files *.ini>
Order Deny,Allow
Deny From All
</files>
<files *.tpl>
Order Deny,Allow
Deny From All
</files>