DirectoryIndex index.php

AddDefaultCharset windows-1251
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php

# Запрет доступа к файлам лицензии, шаблонов, конфигурации
<files ~ "\.(lic|ini|tpl|core\.php|inc\.php|hook\.php|class\.php|sql)$"> 
Order Deny,Allow
Deny From All
</files>